<h1>Students</h1>

<% @students.each do |student| %>
    <p><%= link_to student.first_name, student_path(student.id) %> <%= link_to student.surname, student_path(student.id) %></p>
<% end %>

<hr>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Question (refresh the page)</button>


      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">


          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"> <%= @students2[0].first_name %> </h4>
            </div>
          </div>

        </div>
      </div>

<%= link_to "[New Student]", new_student_path %>
