<h1>Batches</h1>



<% @batches.each do |batch| %>
    <% batch_l = "Batch #{batch.batch_number}" %>
    <p><%= link_to batch_l, batch_path(batch.id) %></p>
<% end %>

<br>

<%= link_to "[Ask Question]", students_path %>
<%= link_to "[New Batch]", new_batch_path %>
<%= link_to "[New Student]", new_student_path %>
