<h1> Batch <%= @batch.batch_number %></h1>

<h2>Students</h2>


<% @students.each do |student| %>
    <% student_l = "#{student.first_name} #{student.surname}" %>
    <p><%= link_to student_l, student_path(student.id) %></p>
<% end %>

<br>

<%= link_to "[Edit Batch]", edit_batch_path(@batch.id) %>
<%= link_to "[Delete]", batch_path(@batch.id), method: :delete, data: { confirm: "Are you sure?" } %>
